
<% if flash[:errors] %>
  <strong>Please correct the following errors:</strong>
  <ol>
  <% flash[:errors].each do |e| %>
    <li><%= e %></li>
  <% end %>
  </ol>
<% end %>


    <%= form_for @user do |f| %>
      <fieldset>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </fieldset>
      <fieldset>
        <%= f.label :email %>
        <%= f.email_field :email %>
      </fieldset>
      <fieldset>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </fieldset>
      <fieldset>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </fieldset>
      <fieldset>
        <%= f.label :bio %>
        <%= f.text_field :bio %>
      </fieldset>
      <fieldset>
      <%= f.select :user_type, options_for_select(User.user_types.map {|k, v| [k.humanize.capitalize, k] }) %>
      </fieldset>
      <fieldset>
        <%= f.label :company %>
        <%= f.text_field :company %>
      </fieldset>
      <fieldset>
        <%= f.label :image, 'image URL' %>
        <%= f.text_field :image %>
      </fieldset>



      <%= f.submit 'Save' %>

    <% end %>
