<!DOCTYPE html>
<html>
  <head>
    <title>Junior Jobs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </head>

  <body>
    <header>
      <!--Navbar start-->
      <nav id="nav-main" role='navigation'>
        <div id="brand">Junior Jobs</div>
        <ul>
          <li><a href="http://localhost:3000/">Home</a></li>
          <li><a href="/jobs">Jobs</a>
            <ul>
              <li><a href="/jobs">Internal Jobs</a></li>
              <li><a href="/jobs/external">External Jobs</a></li>
            </ul>
          </li>
          <li><a href="#">Profiles</a>
            <ul>
              <li><a href="/users/juniors">Juniors</a></li>
              <li><a href="/users/companies">Companies</a></li>
            </ul>
          </li>
          <li>
            <% if @current_user.present? %>
            <%= @current_user.name %>
            <!--dropdown-->
            <ul>
              <li><a href="/users/<%= @current_user.id %>/edit">Edit Profile</a></li>
              <li>Favourites <span>&hearts;</span></li>
              <li><%= link_to 'Logout', login_path, method: :delete %></li>
            </ul>
            <% else %>
            <%= link_to 'Login', login_path %>
            <% end %>
          </li>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
            <input type="checkbox" id="switch-1" class="mdl-switch__input" checked>
            <span class="mdl-switch__label"></span>
          </label>
        </ul>
      </nav>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <footer>

    </footer>
    <footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div id="brand">Junior Jobs</div>
    <ul class="mdl-mini-footer__link-list">
      <li>&copy; <%= Time.current.year %></li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Privacy & Terms</a></li>
    </ul>
  </div>
</footer>
  </body>
</html>
